each each_bike, index in allBike
    h3= index
    p= '"id_bike": ' + each_bike.id_bike
    p= '"name: " '+ each_bike.name
    p= '"type: " '+ each_bike.type
    p= '"weight: " '+ each_bike.weight
    p= '"licensePlate: " '+ each_bike.licensePlate
    p= '"manuafacturingDate: " '+ each_bike.manuafacturingDate
    p= '"producer: " '+ each_bike.producer
    p= '"cost: " '+ each_bike.cost
    p= '"idPark: " '+ each_bike.idPark
    p= '"batteryPercentage: " ' + each_bike.batteryPercentage
    p= '"loadCycles: " ' + each_bike.loadCycles
    p= '"timeRemaining: " ' + each_bike.timeRemaining
    br
