p= "id_bike: " + detailStation.id_bike
p= "name: " + detailStation.name
p= "type: " + detailStation.type
p= "weight: " + detailStation.weight
p= "licensePlate: " + detailStation.licensePlate
p= "manuafacturingDate: " + detailStation.manuafacturingDate
p= "producer: " + detailStation.producer
p= "cost: " + detailStation.cost
p= "idPark: " + detailStation.idPark
