each each_station, index in allStationMatch
    h3= index
    p= '"id_park: " '+ each_station.id_park
    p= '"stationName: " '+ each_station.stationName
    p= '"stationAddress: " '+ each_station.stationAddress
    p= '"numberOfBikes: " '+ each_station.numberOfBikes
    p= '"numberOfEBikes: " '+ each_station.numberOfEBikes
    p= '"numberOfTwinBikes: " '+ each_station.numberOfTwinBikes
    p= '"numberOfEmptyDocks: " '+ each_station.numberOfEmptyDocks
    p= '"areaToWalk: " '+ each_station.areaToWalk
    p= '"timeToWalk: " '+ each_station.timeToWalk
    br
